<footer class="footer mt-5 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5>About us</h5>
        <p>At Nubanuba, we are dedicated to empowering connections and building vibrant communities. By creating safe spaces and inspiring meaningful interactions, we invite you to join us on an exciting journey of fostering genuine connections and sharing unforgettable experiences.</p>
        <%= link_to "Create Your Community", new_community_path, class: "btn btn-light mb-3" %>
      </div>
      <div class="col-lg-3 mt-2">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="<%= root_path %>" class="text-decoration-none text-white">Home</a></li>
          <li><a href="<%= my_communities_path %>" class="text-decoration-none text-white">My Communities</a></li>
          <li><a href="<%= my_events_path %>" class="text-decoration-none text-white">My Events</a></li>
          <li><a href="<%= my_tickets_path %>" class="text-decoration-none text-white">My Tickets</a></li>
        </ul>
      </div>
      <div class="col-lg-3 mt-2">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="fa-sharp fa-regular fa-envelope"></i>    info@example.com</li>
          <li><i class="fa-brands fa-instagram"></i>    instagram_187</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
