<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon ">
  <div class="container-fluid">
<%= link_to(root_path, class: "navbar-brand") do %>
  <%= image_tag("https://res.cloudinary.com/dif8ww5ed/image/upload/v1687558608/nubanuba_dhmcf9.png", class: "logo logo-align") %>
<% end %>

    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">
        <% if user_signed_in? %>
          <li>
            <p class="nav-link nav-text"><%= "Logged in as #{current_user.email}" %></p>
          </li>
          <li class="nav-item">
            <%= link_to "My communities", my_communities_path(current_user), class: "nav-link nav-text" %>
          </li>
          <li class="nav-item">
            <%= link_to "My events", my_events_path(current_user), class: "nav-link nav-text" %>
          </li>
          <li class="nav-item">
            <%= link_to "My tickets", my_tickets_path(current_user), class: "nav-link nav-text" %>
          </li>
          <li class="nav-item">
            <%= link_to "My profile", edit_user_registration_path, class: "nav-link nav-text" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link nav-text" %>
          </li>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link nav-text" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
