<%= simple_form_for [@community, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :address, input_html: { data: { address_autocomplete_target: "address" }, class: "d-none" },
                        wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } } %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_time, html5: true, input_html: { min: Date.current.to_s, id: 'start-date', class: 'form-control' } %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_time, html5: true, input_html: { id: 'end-date', class: 'form-control' } %>
    </div>

  </div>
  <%= f.submit "Create Event", class: "btn btn-outline-dark mt-3" %>
<% end %>
