<h1>Edit Event</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
      <div class="bg-white rounded p-3 shadow m-3">
        <h2>Event Details</h2>
        <%= simple_form_for [@community, @event] do |f| %>
          <%= f.input :title, label: "Title" %>
          <%= f.input :description, label: "Description" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <% if @event.photos.attached? %>
            <div class="row">
              <% @event.photos.each do |photo| %>
                <div class="col-md-3">
                  <%= image_tag photo, class: "img-thumbnail" %>
                  <%= link_to destroy_event_photo_path(event_id: @event.id, photo_id: photo.id), data: { confirm: "Are you sure?", turbo_method: :delete } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= f.input :address, input_html: { data: { address_autocomplete_target: "address" }, class: "d-none" },
                            wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } } %>
          <%# <%= f.input :start_time, html5: true, input_html: { min: Date.current.to_s, id: 'start-date' } %>
          <%# <%= f.input :end_time, html5: true, input_html: { id: 'end-date' } %>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :start_time, html5: true, input_html: { min: Date.current.to_s, id: 'start-date', class: 'form-control' } %>
            </div>
            <div class="col-md-6">
              <%= f.input :end_time, html5: true, input_html: { id: 'end-date', class: 'form-control' } %>
            </div>
          </div>
          <%= f.submit "Update Event", class: "btn btn-outline-dark mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <%= link_to "Back to dashboard", community_event_path(@community, @event), class: "btn btn-dark" %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var startDateInput = document.getElementById('start-date');
    var endDateInput = document.getElementById('end-date');
    startDateInput.addEventListener("input", function() {
      endDateInput.min = startDateInput.value;
      if (endDateInput.value < startDateInput.value) {
        endDateInput.value = startDateInput.value;
      }
    });
  });
</script>
