<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<div class="container mx-auto mt-4">
  <h1>EVENTS</h1>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-lg-3 my-3">
        <div class="card" style="width: 18rem; height: 22rem;">
          <div class="card-body position-relative">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text" style="position: absolute; bottom: 0; left: 0; margin: 8px;"><%= event.description %></p>
            <div class="d-flex justify-content-center" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
              <%= event.capacity %>
              <%= @event.start_time %> - <%= @event.end_time %>
            </div>
            <%= link_to "Details", community_event_path(@community, event), class: "btn btn-outline-dark position-absolute bottom-0 end-0 m-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
