<% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin) %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-4 mt-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Event dashboard</h5>
            <p class="card-text">
              <li> Manage join membership requests<br>
                <li> View users history<br>
                  <li> Set moderator permissions<br>
                    <%= link_to "Go to the event dashboard", event_dashboard_path(@event), class: "btn btn-outline-dark" %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-6 my-3">
                <div class="card border shadow" style="height: 500px;">
                  <div class="banner">
                    <div class="image-wrapper" style="height: 250px; overflow: hidden;">
                      <% if @event.photos.attached? %>
                        <img src="<%= cl_image_path @event.photos.first.key %>" class="card-img-top" alt="Listing Image" style="object-fit: cover; width: 100%;">
                      <% end %>
                    </div>
                    <h2 class="card-title" style="color: black; font-size: 25px;"><%= @event.title.upcase %></h2>
                    <p class="card-text" style="color: #B9624F; display: inline-block;"><%= @event.start_time.strftime('%a,  %d/%m/%y, %H:%M') %></p>
                    <p class="card-text" style="color: #B9624F; display: inline-block;"> - </p>
                    <p class="card-text" style="color: #B9624F; display: inline-block;"><%= @event.end_time.strftime('%a,  %d/%m/%y, %H:%M') %></p>
                    <h5 class="card-title" style="color: gray; font-size: 18px;"><%= @event.address %></h5>
                    <% unless current_user.has_ticket_with_event?(@event) %>
                      <button type="button" class="btn btn-success position-absolute bottom-0 start-0 end-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        GET TICKET
                      </button>
                    <%else %>
                      <button href="#" type="button" class="btn btn-dark position-absolute bottom-0 start-0 end-0">
                        TICKET ALREADY PURCHASED
                      </button>
                    <%end %>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 my-3">
                <div class="card border shadow" style="height: 500px;"

        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>
              </div>
            </div>
          </div>
          <% if flash[:success] %>
            <div class="alert alert-success mt-4">
              <%= flash[:success] %>
            </div>
          <% elsif flash[:error] %>
            <div class="alert alert-danger mt-4">
              <%= flash[:error] %>
            </div>
          <% end %>
          <!-- Modal -->
          <div class="container-fluid">
            <div class="modal fade my-4" style="height: 100vh" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header text-center" style="background-color: black; color: white;">
                    <h1 class="modal-title fs-5 col-12" id="staticBackdropLabel">TICKETS</h1>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 my-5">
                        <% @event.tickets.each do |t| %>
                          <% if t.model == "vip" %>
                            <div data-controller="redeem">
                              <h2 class="my-2"><%= t.model.upcase %></h2>
                              <%= form_with url: :redeem_ticket, data: { action: "submit->redeem#redeemCode", id: t.id } do |f| %>
                                <%= f.text_field :code, placeholder: "Enter code", class: "form-control code" %>
                                <%= f.submit "Redeem", class: "btn btn-outline-dark mt-2 col-12" %>
                              <% end %>
                              <%= link_to ticket_user_tickets_path(t), data: { turbo_method: :post }, class: "btn btn-outline-dark d-none buy col-12 #{"disabled btn-warning" if t.quantity == 0}" do %>
                                <%= t.quantity > 0 ? "Buy" : "Sold out" %>
                                <!--p>Tickets available: <%#= t.quantity %></p-->
                              <% end %>
                            </div>
                          <% elsif t.model == "free" %>
                            <h2 class="my-2"><%= "MEMBER" %></h2>
                            <%= link_to ticket_user_tickets_path(t), data: { turbo_method: :post }, class: "btn btn-outline-dark col-12 #{"disabled btn-warning" if t.quantity == 0}" do %>
                              <%= t.quantity > 0 ? "Free" : "Sold out" %>
                              <!--p>Tickets available: <%#= t.quantity %></p-->
                            <% end %>
                          <% else %>
                            <h2 class="my-2"><%= t.model.upcase %></h2>
                            <%= link_to ticket_user_tickets_path(t), data: { turbo_method: :post }, class: "btn btn-outline-dark col-12 #{"disabled btn-warning" if t.quantity == 0}" do %>
                              <%= t.quantity > 0 ? "Buy" : "Sold out" %>
                              <!--p>Tickets available: <%#= t.quantity %></p-->
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 my-5">
                        <div class="image-wrapper" style="height: 400px; overflow: hidden;">
                          <img src="<%= cl_image_path @event.photos.first.key %>" class="card-img-top" alt="Listing Image">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark col-12" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <%= link_to "Back to community", communities_path(@community), class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
