<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<div class="container">
  <h1><%= @event.title %></h1>
  <div class="row">
    <div class="col-12 col-lg-8 my-3">
      <div class="card">
        <div class="banner">
          <div class="card-body">
            <h5 class="card-title"><%= @event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text"><%= @event.description %></p>
          </div>
        </div>
      </div>
    </div>
    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if @event.user == current_user %>
      <% if policy(@event).edit? %>
        <%= link_to "Edit", edit_community_event_path(@community, @event) %>
      <% end %>

      <% if policy(@event).destroy? %>
        <%= link_to "Delete", community_event_path(@community, @event),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    <% else %>
      <% if current_user.event_rsvps.find_by(event: @event, status: "pending") %>
        <%= link_to "WAITING..", community_event_path(@community, @event) %>
        <%elsif current_user.event_rsvps.find_by(event: @event, status: "accepted")%>
        <%= link_to "accepted", community_event_path(@community, @event) %>
        <%elsif current_user.event_rsvps.find_by(event: @event, status: "rejected")%>
        <%= link_to "rejected", communities_path(@community, @event) %>
      <% else %>
        <%= link_to "JOIN", community_event_create_events_rsvp_path(community_id: @community.id, event_id: @event.id),
        data: { turbo_method: :post, confirm: "Are you sure you want to join this event?" } %>
      <%end %>
    <% end %>
  </div>
  <%= link_to "Go back", community_path(@community) %>
</div>
