<br>
<%= link_to "Home", root_path, style: "padding-left: 10px;" %> >
<%= link_to @event.community.title, community_path(@event.community)%> >
<%= link_to @event.title , community_event_path(@event.community, @event) %> >
<%= link_to "Event Dashboard", event_dashboard_path(@event.community, @event ) %> >
Edit Ticket Details
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6 ticket-form">
      <div class="sticky-top">
        <div class="bg-white rounded p-3 shadow m-3">
          <h2>Edit Ticket Details</h2>
          <%= simple_form_for @ticket, method: :patch, data: {turbo:false} do |form| %>
            <% if @ticket.model == "free" %>
              <div class="mb-3">
                <%= form.label :name, "Free tickets" %>
                <% time = Time.now %>
                <%= form.number_field :quantity, class: "form-control m-2" %>
                Ticket expiration time. Be careful, if free tickets were already emmitted, the new expiration time won't match the ticket.
                <%= form.datetime_field :expire_time, value: @ticket.expire_time&.in_time_zone("America/Mexico_City")&.strftime('%Y-%m-%dT%H:%M:%S'), class: "form-control m-2" %>
                <%# INCLUDE SOMEWHERE in_time_zone("America/Mexico_City") %>
              </div>
            <% elsif @ticket.model == "regular" %>
              <div class="mb-3">
                <%= form.label :quantity, "Regular Admission tickets" %>
                <div class="d-flex">
                  <%= form.number_field :quantity, placeholder: 'Quantity', class: "form-control m-2" %>
                  <%= form.number_field :price, placeholder: 'price', class: "form-control m-2" %>
                </div>
              </div>
            <% elsif @ticket.model == "vip" %>
              <div class="mb-3">
                <%= form.label :quantity, "Vip" %>
                <div class="d-flex">
                  <%= form.text_field :quantity, placeholder: 'Quantity', class: "form-control m-2" %>
                  <%= form.text_field :r_code, placeholder: 'redeem code', class: "form-control m-2" %>
                </div>
              </div>
            <% end %>
            <%= form.submit "Update Ticket", class: "btn btn-outline-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="text-center">
  <%= link_to 'Back to dashboard', :back, class: "btn btn-dark" %>
</div>
<br>
<br>
