<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6 ticket-form">
      <div class="sticky-top">
        <div class="bg-white rounded p-3 shadow m-3">
          <h2>Edit Ticket Details</h2>
          <%= form_with url: ticket_path, method: :patch, class: "form", data: { controller: "ticket-update" } do |form|%>
            <%= form.fields_for :ticket_details, index: nil do |ticket_fields| %>
              <div class="mb-3">
                <%= form.label :name, "Free tickets" %>
                <% time = Time.now %>
                <%= ticket_fields.number_field :quantity, name: 'ticket_details[free][quantity]', placeholder: time, class: "form-control m-2" %>
              </div>
              <div class="mb-3">
                <%= form.label :quantity, "Regular Admission tickets" %>
                <div class="d-flex">
                  <%= ticket_fields.number_field :quantity, name: 'ticket_details[regular][quantity]', placeholder: 'Quantity', class: "form-control m-2" %>
                  <%= ticket_fields.number_field :price, name: 'ticket_details[regular][price]', placeholder: 'price', class: "form-control m-2" %>
                </div>
              </div>
              <div class="mb-3">
                <%= form.label :quantity, "Vip" %>
                <div class="d-flex">
                  <%= ticket_fields.text_field :quantity, name: 'ticket_details[vip][quantity]', placeholder: 'Quantity', class: "form-control m-2" %>
                  <%= ticket_fields.text_field :code, name: 'ticket_details[vip][r_code]', placeholder: 'redeem code', class: "form-control m-2" %>
                </div>
              </div>
            <% end %>
            <%= form.submit "Update Ticket", class: "btn btn-outline-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
