<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      max-width: 75%;
      margin: 0 auto;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Hey <%= @user.first_name %>, here's your ticket!</h2>
    <p>Thanks for purchasing a ticket to <%= @community.title %>'s <%= @event.title %>'s event!</p>
<p>As a reminder, the party starts at <b><%= @event.start_time.strftime("%l:%M %p on %A, %B #{ @event.start_time.day.ordinalize }") %></b>, and will be held at <b><%= @event.address %></b>.</p>
    <center>
      <div class="image-wrapper" style="overflow: hidden;">
        <div class="qr-code">
          <% if @user_ticket.qrcode.attached? %>
            <div class="qr-image">
              <%= link_to(cl_image_tag(@user_ticket.qrcode.key, width: "40%", height: "40%", alt: "QR code for ticket", class: "img-fluid"), cl_image_path(@user_ticket.qrcode.key), target: "_blank") %>
            </div>
          <% end %>
        </div>
      </div>
    </center>
    <p>See you soon!</p>
  </div>
</body>
</html>
