<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Confirmation Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      body {
        background-color: #F7F7F7;
      }
      .container-1 {
      font-size: 13px;  /* or use percentages, ems, rems, etc. */

      width: 90%;  /* changed to 100% */
      margin: 0 auto;
      padding: 20px;
      border: none;
      background-color: white;

      }


      /* Add a border around the entire table */
      .custom-table {
            width: 100%;  /* New: Table takes full width */

          border: none;  /* Adjust color and width as needed */
          border-collapse: collapse;  /* Makes sure the table's border and cell borders collapse into a single border */
          margin: 0px;  /* Space outside the table */
      }

      /* Remove borders between rows but preserve the one under the header */
      .custom-table tbody tr td {
          border-top: none;
          padding: 3px;  /* Space inside cells */
      }

      .custom-table thead tr th {
            background-color: #C5C5C5;

          border-bottom: 1px solid;  /* Adjust as per your requirements */
          padding: 5px;  /* Space inside cells */
      }

      /* Align content in the 2nd column to the right */
      .custom-table tbody tr td:nth-child(2) {
          text-align: right;
      }

       @media (min-width: 768px) {
      .container-1 {
        font-size: initial;
        width: 60%; /* for screens larger than 768px */
      }

      .custom-btn {
        font-size: 125%;  /* Making the text 25% bigger */
      }



          }
    </style>
  </head>
  <body>
    <div class="container-1">
      <h1 class="card-title" style="color: green; font-weight: bold;">Confirmation</h1>
      <p>Hi <%= @user.first_name%>, your order for the <b><%= @event.title %></b>'s event has been successfully processed!</p>
      <div class="table-responsive">
        <table class="custom-table">
          <% if @stripe_session %>  <!-- If the ticket was paid for, show a more detailed table -->
            <thead>
              <tr>
                <th scope="col" colspan="2" style="background-color: #f2f2f2; padding: 10px; font-size: 18px;">
                  Payment details ticket #<%= @user_ticket.id  %>
                </th>
              </tr>
            </thead>
            <tbody class="custom-table">
              <tr>
                <td>Ticket type:</td>
                <td><%= @user_ticket.ticket.model.capitalize %></td>
              </tr>
              <tr>
                <td>Status:</td>
                <td><%= @stripe_session.payment_status.capitalize %></td>
              </tr>
              <tr>
                <td>Amount Paid:</td>
                <td><%= number_to_currency(@stripe_session.amount_total / 100.0) %></td>
              </tr>
              <tr>
                <td>Payment date:</td>
                <td><%= Time.at(@stripe_session.created).strftime("%d/%m/%Y") %></td>
              </tr>
              <tr>
                <td>Payment Method:</td>
                <td><%= @stripe_session.payment_method_types.join(', ') %></td>
              </tr>
              <tr>
                <td>Transaction ID:</td>
                <td><%= @stripe_session.payment_intent %></td>
              </tr>
              <tr>
                <td>QR code status:</td>
                <td class="to-refresh">
                  <% if @user_ticket.processed %>
                    <div style="color: green; font-weight: bold;">QR code processed</div>
                  <% else %>
                    <div style="color: orange; font-weight: bold;">QR code being processed (might take up to 5 minutes)</div>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% else %>  <!-- If the ticket was not paid for (i.e free or VIP), just show a simple table -->
            <thead>
              <tr>
                <th scope="col" colspan="2" style="background-color: #f2f2f2; padding: 10px; font-size: 18px;">
                  Order details ticket #<%= @user_ticket.id %>
                </th>
              </tr>
            </thead>
            <tbody class="custom-table">
              <tr>
                <td>Ticket type:</td>
                <% if @user_ticket.ticket.model == "free" %>
                  <td> Guest List</td>
                <% else %>  <!-- VIP -->
                  <td><%= @user_ticket.ticket.model.capitalize %></td>
                </tr>
              <% end %>
              <% if @ticket.expire_time? %>
                <tr>
                  <td>Entry restriction:</td>
                  <td>Ticket valid until <%= @ticket.expire_time.strftime("%I:%M %p") %></td>
                </tr>
              <% end %>
              <tr>
                <td>Order date:</td>
                <td><%= Time.at(@user_ticket.created_at).strftime("%d/%m/%Y") %></td>
              </tr>
              <tr>
                <td>QR code status:</td>
                <td class="to-refresh">
                  <% if @user_ticket.processed %>
                    <div style="color: green; font-weight: bold;">QR code processed</div>
                  <% else %>
                    <div style="color: orange; font-weight: bold;">QR code being processed</div>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <br>
      <h4 style="background-color: #f2f2f2; padding: 10px;">Event Details</h4>
      <i class="fas fa-calendar-alt fa-lg" style="color: #0077cc; margin-right: 5px;"></i>
      <b style="font-size: 15px;">When?</b> <%
  # Format the start and end times
  start_time_str = @event.start_time.strftime("%A, %B %d, %Y from %I:%M%p")
  end_time_str = @event.end_time.strftime("%I:%M%p")
  end_day_str = @event.end_time.strftime("%A, %B %d")
  # Check if the event ends on the same day it starts
  same_day = @event.start_time.to_date == @event.end_time.to_date
  # Generate the final string
  event_time_range = if same_day
    "#{start_time_str} to #{end_time_str}."
  else
    "From #{start_time_str}, to #{end_day_str}, #{end_time_str}."
  end
%>
      <p><%= event_time_range %></p>
      <i class="fas fa-map-marker-alt fa-lg" style="color: #0077cc; margin-right: 5px;"></i>
      <b style="font-size: 15px;">Where?</b>
      <p><%= @event.address %></p>
      <div class="col-lg-6 col-md-4 my-3" style="width: 100%; height: 180px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <center>
        <p> <%=link_to '(open in Google Maps)', "https://www.google.com/maps/search/?api=1&query=#{ERB::Util.url_encode(@event.address)}", target: '_blank' %>
        </center>
      </p>
      <h4 style="background-color: #f2f2f2; padding: 10px;">Next steps</h4>
      <div class="to-refresh"><% if @user_ticket.processed?  %>
          Your QR code ticket has been processed and sent to your email <b><%= @user.email %></b>!<br>
          You can also find it below and <%= link_to "there.", my_tickets_path(current_user) %>
          <br>
          <br>
          Do not forget to bring it along your ID for entry to the event.
          <br>
          <br>
          <center>
            <%= link_to "View my QR Code Ticket", ticket_user_ticket_path(ticket_id: @user_ticket.ticket_id, id: @user_ticket.id), class: "btn btn-success btn-sm custom-btn" %>
          </center>
          <br>
        <% else %>
          Your QR code ticket is being processed and will be sent to your email <%= @user.email %> shortly! Once porcessed, you can also find it with your other tickets <%= link_to "here.", my_tickets_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
<script>
  $(document).ready(function() {
    var userTicketId = <%= @user_ticket.id %>;

    // Exit if already processed
    if(localStorage.getItem('processed-' + userTicketId)) {
      return;
    }

    function checkProcessedStatus() {
      $.ajax({
        url: `/user_tickets/${userTicketId}/check_processed`,
        type: 'GET',
        data: { id: userTicketId },
        success: function(response) {
          if(response.processed) {
            localStorage.setItem('processed-' + userTicketId, true); // Set flag
            location.reload(); // Refresh the page
            clearInterval(intervalId); // Stop the polling
          }
        },
        error: function(response) {
          console.error("Error occurred: ", response);
        }
      });
    }

    // Poll every 3 seconds
    var intervalId = setInterval(checkProcessedStatus, 3000);
  });
</script>
