<html>
  <head>
    <style>
      body {
        background-color: #F7F7F7;
      }
      .container-ticket {
        font-size: 13px;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        border: none;
        background-color: white;
      }
       @media (min-width: 768px) {
      .container-ticket {
        font-size: initial;
        width: 60%; /* for screens larger than 768px */
      }
      }
    </style>
  </head>
  <body>
    <div class="container-ticket">
      <%# taxonomy link %>
      <%= link_to "Home", root_path %> > <%= link_to "My tickets", my_tickets_path(current_user)%> > Ticket #<%= @user_ticket.id %>
      <%# taxonomy link end %>
      <br>
      <br>
      <%# ticket and community title %>
      <h5>  <%= @event.title.capitalize %> from <%= @event.community.title %> </h5>
      <%# ticket and community title end %>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h5 style="background-color: #f2f2f2; padding: 10px;">
            <i class="fas fa-ticket-alt fa-lg" style="color: #0077cc; margin-right: 5px;"></i>
            My ticket</h5>
          <center>
            <%= link_to cl_image_path(@user_ticket.qrcode.key), target: "_blank" do %>
              <%= image_tag(cl_image_path(@user_ticket.qrcode.key), style: "max-width: 50%;") %>
            <% end %>
          </center>
          <br>
        </div>
        <!-- When? section -->
        <div class="col-lg-6 col-md-12">
          <h5 style="background-color: #f2f2f2; padding: 10px;">
            <i class="fas fa-calendar-alt fa-lg" style="color: #0077cc; margin-right: 5px;"></i>
            When ?</h5>
          <%
                # Format the start and end times
                start_time_str = @event.start_time.strftime("%A, %B %d, %Y from %I:%M%p")
                end_time_str = @event.end_time.strftime("%I:%M%p")
                end_day_str = @event.end_time.strftime("%A, %B %d")
                # Check if the event ends on the same day it starts
                same_day = @event.start_time.to_date == @event.end_time.to_date
                # Generate the final string
                event_time_range = if same_day
                  "#{start_time_str} to #{end_time_str}."
                else
                  "From #{start_time_str}, to #{end_day_str}, #{end_time_str}."
                end
              %>
          <p><%= event_time_range %></p>
          <% if @ticket.expire_time? %>
    <span style="font-weight: bold;">Free entry until <%= @ticket.expire_time.strftime("%I:%M %p") %></span>
          <% end %>
        </p>
      </div>
      <!-- Where? section -->
      <div class="col-12">
        <h5 style="background-color: #f2f2f2; padding: 10px;">
          <i class="fas fa-map-marker-alt fa-lg" style="color: #0077cc; margin-right: 5px;"></i>
          Where ?</h5>
        <p><%= @event.address %></p>
        <center>
          <div class="customer-map my-3" style="width: 100%; height: 180px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <p> <%= link_to '(open in Google Maps)', "https://www.google.com/maps/search/?api=1&query=#{ERB::Util.url_encode(@event.address)}", target: '_blank' %> </p>
        </center></div>
    </div>
  </div>
</div>
</body>
</html>
