<%# Check if ticket status is "pending" %>
<% if @user_ticket.scanned == "pending" %>
  <div class="card shadow mx-auto m-3 p-3" style="width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title font-weight-bold text-success mb-3">
        <i class="fas  fa-check-circle fa-4x text-success mr-2"></i><br>
        Ticket is valid and hasn't been scanned yet.
        <br>
        <small class="text-muted">Type: <%= @user_ticket.ticket.model.capitalize %></small>
      </h5>
      <p class="card-text mb-3">
        Ticket user name:
        <br>
        <b><%= @user_ticket_name %></b>
      </p>
      <%# Check if ticket has expiry time and ticket type is "free" %>
<% if @user_ticket.ticket.expire_time.present? && @user_ticket.ticket.model == "free" %>
  <% expire_time = @user_ticket.ticket.expire_time %>
  <% current_time = Time.current.utc %>
  <% if expire_time > current_time %>
    This ticket will expire on <%= expire_time.strftime("%d/%m/%Y %H:%M") %>
  <% elsif expire_time < current_time %>
    This ticket has expired on <%= expire_time.strftime("%d/%m/%Y %H:%M") %>
  <% else %>
    This ticket expires exactly now.
  <% end %>
<% end %>

<%# added this above %>

      <hr>
      <div class="mt-3">
        <%= link_to "Validate", ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "accepted"), data: {turbo_method: :patch}, class: "btn btn-success mr-2" %>
        <%= link_to "Reject", ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id,  scanned: "rejected"), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to reject this ticket?"}, class: "btn btn-danger ml-2" %>
      </div>
    </div>
  </div>
<% else %>
  <%# Check if ticket has been accepted or rejected %>
  <% if @user_ticket.scanned == "accepted" || @user_ticket.scanned == "rejected" %>
    <div class="card shadow mx-auto m-3 p-3" style="width: 18rem;">
      <div class="card-body text-center">
        <%# Check if free ticket has expired %>
        <% if @user_ticket.ticket.model == "free" && @user_ticket.has_expired? %>
          <h5 class="card-title font-weight-bold text-danger mb-3">
            <i class="fas fa-times-circle fa-4x text-danger mr-2"></i><br>
            <br>
            <b> WARNING:</b> <br>
            This ticket has expired on <%= @user_ticket.ticket.expire_time.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y at %H:%M") %>
            <br>
            <br>
            <small class="text-muted">Type: <%= @user_ticket.ticket.model.capitalize %></small>
          </h5>
        <% else %>
          <h5 class="card-title font-weight-bold text-danger mb-3">
            <i class="fas fa-times-circle fa-4x text-danger mr-2"></i><br>
            <br>
            <b> WARNING: </b><br>
            This ticket was already scanned and <%= @user_ticket.scanned %> on the <%= @user_ticket.updated_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y at %H:%M") %>
            <br>
            <br>
            <small class="text-muted">Type: <%= @user_ticket.ticket.model.capitalize %></small>
          </h5>
        <% end %>
        <p class="card-text mb-3">
          Ticket user name:
          <br>
          <b><%= @user_ticket_name %></b>
        </p>
        <div class="mt-3">
          <%= link_to "Pending", ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "pending"), data: {turbo_method: :patch}, class: "btn btn-warning mr-2" %>
          <%= link_to (@user_ticket.scanned == "accepted" ? "Reject" : "Validate"), ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: (@user_ticket.scanned == "accepted" ? "rejected" : "accepted")), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to change the status of this ticket?"}, class: "btn btn-#{@user_ticket.scanned == 'accepted' ? 'danger' : 'success'} ml-2" %>
        </div>
      </div>
    </div>
  <% else %>
    <h5 class="card-title">There was an error with this ticket.</h5>
  <% end %>
<% end %>
