<% expire_time = @user_ticket.ticket.expire_time.in_time_zone("America/Mexico_City") if @user_ticket.ticket.expire_time.present? %>
<% current_time = Time.now.in_time_zone("America/Mexico_City") %>
<div class="card shadow mx-auto m-5 p-3" style="width: 18rem;">
  <div class="card-body text-center">
    <h5 class="card-title font-weight-bold text-success mb-3">
      <% if Time.now.in_time_zone("America/Mexico_City") < @event.end_time.in_time_zone("America/Mexico_City") %>
        <% if @user_ticket.scanned == "accepted" || @user_ticket.scanned == "rejected" %>
          <h5 class="card-title font-weight-bold text-danger mb-3">
            <%= fa_icon "times-circle 4x", class: "text-danger mr-2" %><br>
            <br>
            <b> WARNING </b><br>
            <br>
            Ticket has already been scanned and <%= @user_ticket.scanned %>, <%= time_ago_in_words(@user_ticket.updated_at) %> ago.<br>
          <% elsif @user_ticket.ticket.model == "free" %>
            <% if @user_ticket.ticket.expire_time.present? %>
              <% if current_time < expire_time %>
                <h5 class="card-title font-weight-bold text-success mb-3">
                  <%= fa_icon "check-circle 4x", class: "text-success mr-2" %><br>
                  Valid ticket, will expire on <%= expire_time.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y %H:%M") %>
                </h5>
              <% else  %>
                <h5 class="card-title font-weight-bold text-danger mb-3">
                  <%= fa_icon "hourglass-end 4x", class: "text-danger mr-2" %><br>
                  <br>
                  <b> WARNING </b><br>
                  <br>
                  Ticket has expired on <%= expire_time.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y %H:%M") %>
                </h5>
              <% end %>
            <% else %>
              <h5 class="card-title font-weight-bold text-success mb-3">
                <%= fa_icon "check-circle 4x", class: "text-success mr-2" %><br>
                This free ticket is valid.
              </h5>
            <% end %>
          <% else %>
            <h5 class="card-title font-weight-bold text-success mb-3">
              <%= fa_icon "check-circle 4x", class: "text-success mr-2" %><br>
              Ticket is valid and hasn't been scanned yet.
            </h5>
          <% end %>
        <% else %>
          <h5 class="card-title font-weight-bold text-danger mb-3">
            <%= fa_icon "hourglass-end 4x", class: "text-danger mr-2" %><br>
            <br>
            <b> WARNING </b><br>
            <br>
            Ticket not valid. <br>
            <br>
            Event ended on <%= @event.end_time.in_time_zone("America/Mexico_City").strftime('%a,  %d/%m/%y, %H:%M') %>
          </h5>
        <% end %>
      </h5>
      Ticket type: <%= @user_ticket.ticket.model.capitalize %><br>
      <br>
      <b><%= @user_ticket_name %></b><br>
      <%= Time.now.year - @user.birthdate.year %> years old<br>
      <%=  @user.country %><br>
      <br>
      <% if Time.now.in_time_zone("America/Mexico_City") < @event.end_time.in_time_zone("America/Mexico_City") && (expire_time.nil? || (expire_time.present? && current_time < expire_time)) %>
        <div class="d-flex justify-content-center">
          <% if @user_ticket.scanned == "accepted" %>
            <%= link_to fa_icon('hourglass-end'), ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "pending"), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to set this ticket back to pending?"}, class: "btn btn-warning mx-4" %>
            <%= link_to fa_icon('times'), ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "rejected"), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to reject this ticket?"}, class: "btn btn-danger mx-4" %>
          <% elsif @user_ticket.scanned == "rejected" %>
            <%= link_to fa_icon('check'), ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "accepted"), data: {turbo_method: :patch}, class: "btn btn-success mx-4" %>
            <%= link_to fa_icon('hourglass-end'), ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "pending"), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to set this ticket back to pending?"}, class: "btn btn-warning mx-4" %>
          <% else %> <!-- When ticket is pending or nil -->
            <%= link_to fa_icon('check'), ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "accepted"), data: {turbo_method: :patch}, class: "btn btn-success mx-4" %>
            <%= link_to fa_icon('times'), ticket_user_ticket_path(ticket_id: @user_ticket.ticket.id, user_ticket_id: @user_ticket.id, scanned: "rejected"), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to reject this ticket?"}, class: "btn btn-danger mx-4" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
