<h1>Community dashboard</h1>
<%# <% unless @community.public? %>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card">
    <div class="card-header" id="membersRequestsHeading">
      <h3 class="mb-0">Members requests</h3>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="table table-striped table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Age</th>
            <th scope="col">Nationality</th>
            <th scope="col">Occupation</th>
            <th scope="col">Instagram Handle</th>
            <th scope="col">Request status</th>
            <th scope="col">Decision</th>
          </tr>
        </thead>
        <tbody>
          <% @community.pending_community_join_requests.each_with_index do |jr, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= jr.user_id %></td>
              <td><%= jr.user.first_name %></td>
              <td><%= jr.user.last_name %></td>
              <td><%= jr.user.email %></td>
              <td><%= Time.now.year - jr.user.birthdate.year %></td>
              <td><%= jr.user.nationality %></td>
              <td><%= jr.user.occupation %></td>
              <td><%= link_to jr.user.instagram_handle, "http://instagram.com/#{jr.user.instagram_handle}/",  target: "_blank"  %>
<td><%= "Pending since #{time_ago_in_words(jr.created_at)} ago" %></td>
                <td>
                  <%=  link_to "Accept", community_community_join_request_path(@community, jr, status: "accepted"), data: {turbo_method: :patch}, class: "btn btn-success" %>
                  <%= link_to "Reject", community_community_join_request_path(@community, jr, status: "rejected"), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to reject that person ?"}, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%# <% end %>
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-header" id="communityMembersHeading">
        <h3 class="mb-0">Community Members</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="table-success">
            <tr>
              <th scope="col">#</th>
              <th scope="col">User ID</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">E-mail</th>
              <th scope="col">Age</th>
              <th scope="col">Nationality</th>
              <th scope="col">Occupation</th>
              <th scope="col">Role</th>
              <th scope="col">Instagram Handle</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @community.community_users.each_with_index do |c, index| %>
              <% if c.role == "moderator" %>
                <tr class="table-warning">
                <% else %>
                  <tr>
                  <% end %>
                  <td><%= index + 1 %></td>
                  <td><%= c.user_id %></td>
                  <td><%= c.user.first_name %></td>
                  <td><%= c.user.last_name %></td>
                  <td><%= c.user.email %></td>
                  <td><%= Time.now.year - c.user.birthdate.year %></td>
                  <td><%= c.user.nationality %></td>
                  <td><%= c.user.occupation %></td>
                  <td><%= c.role %></td>
                  <td><%= link_to c.user.instagram_handle, "http://instagram.com/#{c.user.instagram_handle}/", target: "_blank"  %></td>
                  <td>
                    <div class="btn-group dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="dropdown-<%= c.id %>" aria-haspopup="true" aria-expanded="true">
                        Select
                      </button>
                      <div class="dropdown-menu" aria-labelledby="#dropdown-<%= c.id %>">
                        <a class="dropdown-item" href="#">View history</a>
                        <% if c.role != "admin" && !c.user.admin  %>
                          <% if c.role != "moderator"%>
                            <%= link_to "Set as moderator", make_moderator_path(id: c.id), data: {turbo_method: :patch}, class: "dropdown-item"%>
                          <% else %>
                            <%= link_to "Revoke moderator", remove_moderator_path(id: c.id), data: {turbo_method: :patch}, class: "dropdown-item"%>
                          <% end %>
                        <% end %>
                        <% unless c.role == "moderator" %>
                          <div class="dropdown-divider"></div>
                          <%= link_to "Delete user", community_community_user_path(@community, c), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove the user from the community?"}, class: "dropdown-item", method: :delete %>
                        <% end %>
                      </div>
                    </div>
                  </td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= link_to "Go back", community_path(@community) %>
