<h1>Edit Community</h1>
<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for (@community) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :title, label: "Title" %>
          <%= f.input :short_description, required: true, label: "Short description (seen on the  main index page)" %>
          <%= f.input :description, required: true, label: "Description (seen on your community page)", input_html: { rows: 5 } %>
          <%= f.input :category, label: "Category" %>
          <%= f.input :youtube_banner, required: false, label: "If you want a video banner, enter the youtube URL" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <% if @community.photos.attached? %>
            <div class="row">
              <% @community.photos.each do |photo| %>
                <div class="col-md-3">
                  <%= image_tag photo, class: "img-thumbnail" %>
                  <%= link_to destroy_community_photo_path(community_id: @community.id, photo_id: photo.id), data: { confirm: "Are you sure?", turbo_method: :delete } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= f.input :country, label: "Country" %>
          <%= f.input :city, label: "City" %>
          <%# <%= f.input :public, label: "Public?", as: :boolean %>
          <%# <%= f.input :is_visible, label: "Visible?", as: :boolean %>
        </div>
        <div>
          <%# <%= f.input :public, label: "Public?", as: :boolean %>
          <%# <%= f.input :is_visible, label: "Visible?", as: :boolean %>
          <%= f.input :public, label: "Publicity", as: :radio_buttons, collection: [['Public(Everyone can join)', true], ['Private(Request required)', false]], input_html: { checked: @community.public? }, checked: false %>
          <%= f.input :is_visible, label: "Visibility", as: :radio_buttons, collection: [['Visible(Everyone can see)', true], ['Hidden(Only members can see)', false]], checked: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update community", class: "btn btn-outline-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= link_to "Back to community", community_path(@community), class: "btn btn-dark" %>
</div>
