<h1>Communities#edit</h1>
<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for (@community) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :title, label: "Title" %>
          <%= f.input :description, label: "Description" %>
          <%= f.input :category, label: "Category" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.input :country, label: "Country" %>
          <%= f.input :city, label: "City" %>
          <%# <%= f.input :public, label: "Public?", as: :boolean %>
          <%# <%= f.input :is_visible, label: "Visible?", as: :boolean %>
        </div>
        <div>
          <%# <%= f.input :public, label: "Public?", as: :boolean %>
          <%# <%= f.input :is_visible, label: "Visible?", as: :boolean %>
          <%= f.input :public, label: "Publicity", as: :radio_buttons, collection: [['Public(Everyone can join)', true], ['Private(Request required)', false]], input_html: { checked: @community.public? } %>
          <%= f.input :is_visible, label: "Visibility", as: :radio_buttons, collection: [['Visible(Everyone can see)', true], ['Hidden(Only members can see)', false]] %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update community", class: "btn btn-outline-dark" %>
        </div>
      <% end %>
      <%= link_to "Back",  community_path(@community) %>
    </div>
  </div>
</div>
