<div class="container mx-auto mt-4">
  <h1>My communities</h1>

<div class="container mx-auto mt-4">
  <div class="row">
    <% if @my_communities.empty? %>

  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <h3>You haven't listed any community yet.<br>Do it by clicking on this link: <br>
                <%= link_to "List my community", new_community_path %>

       </h3>
    <% else %>
      <% @my_communities.each do |v| %>
        <div class="col-lg-3 my-3">
          <div class="card" style="width: 18rem; height: 22rem;">
          <% if v.photos.attached? %>
            <img src="<%= cl_image_path v.photos.first.key %>" class="card-img-top" alt="Listing Image">
          <% end %>
            <div class="card-body position-relative">
              <h5 class="card-title"><%= v.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text" style="position: absolute; bottom: 0; left: 0; margin: 8px;"><%= v.description %></p>
            <%= link_to "Details", community_path(v), class: "btn btn-outline-dark position-absolute bottom-0 end-0 m-2" %>

            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
