<h1>Communities#new</h1>



<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for @community do |f| %>
        <%= f.input :title, label: "Title" %>
        <%= f.input :description, label: "Description" %>
        <%= f.input :category, label: "Category" %>
       <%# <%= f.input :country, label: "Country" %>
        <%# <%= f.input :city, label: "City" %>
        <%= f.input :is_public, label: "Public?", as: :boolean %>
        <%= f.input :is_visible, label: "Visible?", as: :boolean %>
        <%= f.submit "Create Community", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</div>


 <%= link_to "Back",  communities_path %>


<p>Find me in app/views/communities/new.html.erb</p>
