
<h3>Communities#show</h3>



<h1><%= @community.title %></h1>
 <hr> <ul>
  <li><%= @community.description %></li>

<% if @community.photos.attached? %>
  <% @community.photos.each do |photo| %>
    <%= cl_image_tag photo.key, class: "img-thumbnail", width: 200, crop: :thumb %>
  <% end %>
<% end %>



  <li><%= @community.category %></li>
  <li><%= @community.country %></li>
  <li><%= @community.city %></li>
  <li>Is public ?<%= @community.is_public %></li>
  <li>is visible ?<%= @community.is_visible %></li>

<hr>
<h2> Events:</h2>
              <% @events.each do |event| %>
              <%= event.title %>
              <% end %>


<hr>
  <h2>Admin panel:</h2>
  <br>
  <%= link_to "Edit", edit_community_path(@community) %>
  <%= link_to "Delete", community_path(@community),   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
 %>

<hr>
<%= link_to "Back",  communities_path %>
