<%#
          <center>
            <% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin) %>
<%# Hi <%= current_user.first_name, you are viewing this module since you are %>
<%# <% if current_user.admin  %>
<%# an admin of the platform. %>
<%# <% elsif @community.user == current_user %>
<%# the owner of this community (<%= @community.title %>
<%# <% elsif current_user.is_moderator_of?(@community) %>
<%# a moderator  of this community (<%= @community.title %>
<%# <% end %>
<%# <% end %>
<%# </center> %>
<% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin) %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11 col-md-12 col-sm-12 mt-3">
        <div class="card mb-2">
          <div class="black-banner">
            <h5 class="card-title">Dashboards & settings</h5>
          </div>
          <div class="card-body text-center">
            <p class="card-text d-flex justify-content-around ">
              <div class="btn-group">
                <%= link_to "Community dashboard", dashboard_path(@community), class: "btn btn-outline-dark me-2" %>
                <% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin) %>
                  <% if @community.events.present? %>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Events dashboard
                    </button>
                    <ul class="dropdown-menu custom-dropdown-menu">
                      <% @community.events.last(5).each do |event| %>
                        <li> <%= link_to event.title, event_dashboard_path(@community, event), class: "dropdown-item" %> </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              <% end %>
              <% if policy(@community).new? %>
                <%= link_to "Create Event", new_community_event_path(@community), class: "btn btn-outline-primary ms-2" %>
              <% end %>
              <% if policy(@community).edit? %>
                <%= link_to "Edit my community", edit_community_path(@community), class: "btn btn-outline-warning ms-2" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-11 col-md-12 col-sm-12">
        <div class="card mb-2">
          <div class="black-banner">
            <h5 class="card-title">Community stats</h5>
          </div>
          <div class="card-body">
            <p class="card-text d-flex justify-content-around">
              Members: <%= @community.members.count %> |
              Since this week: <%= @community.community_users.where("created_at > ?", Date.current.beginning_of_week).count %> |
              Events created: <%= @community.events.count %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<% end %>
<%# start of display for every user%>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-11" >
      <div class="card mb-4"  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); border-radius: 5px" >
        <div class="black-banner-main">
          <h5 class="card-title" style="font-size: 24px"><%= @community.title.upcase %></h5>
        </div>
        <div class="youtube-video-wrapper">
          <iframe src="https://www.youtube.com/embed/K9cT_jgU2y0?autoplay=1&controls=0&mute=1&showinfo=0&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="black-banner-main ">
          <div class="banner-under-video ">
            <div class="location">
              <span>
                <%= @community.city %>, <%= @community.country %>
              </span>
              <% country = ISO3166::Country[@community.country] %>
              <% if country %>
                <% country_code = country.alpha2.upcase %>
                <img src="https://flagsapi.com/<%= country_code %>/flat/24.png" alt="<%= country.translated_names.first %> Flag" class="img-fluid" style="margin-left: 5px;">
              <% end %>
            </div>
            <div class ="community-type" >
              <% if !@community.public? && (@community.user == current_user || (current_user && current_user.is_member_of?(@community)) || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin )) %>
                <i class="fa-solid fa-lock-open" style="color: green; font-weight: bold;"></i> &nbsp;<span style="color: green; font-weight: bold;">you're a member</span>
              <% elsif !@community.public? %>
                <i class="fas fa-lock"></i>&nbsp;Private community
              <% elsif @community.public? && (@community.user == current_user || (current_user && current_user.is_member_of?(@community)) || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin )) %>
                <i class="fa-solid fa-lock-open" style="color: green; font-weight: bold;"></i> &nbsp;<span style="color: green; font-weight: bold;">you're a member</span>
              <% elsif @community.public? %>
                <i class="fa-solid fa-lock-open"></i>&nbsp;Public community
              <% end %>
            </div>
            <div class="member-count">
              <svg style= "margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
              </svg>   <%= @community.members.count %>
            </div>
          </div>
        </div>
        <%# Begining of the text for the community %>
        <div class="card-body bg-white">
          <p class="card-text">
            <%= @community.description %>
            <% unless (@community.user == current_user || (current_user && current_user.is_member_of?(@community)) || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin )) %>
              <div class="black-banner">
                For safety and accountability reasons, the owner of this community requires an Instagram check.<br>
                If your account is private, please extend a follow request to the organizer, then request to join this community.<br>
                <center><body><br>
                    <a class="instagram-button" href="https://www.instagram.com/cultura_subterranea_members_/" target="_blank"><b>
                        Add on Instagram
                      </a></body> </center><br>
                  This allows us to foster a secure, positive environment for all, in form of a safe space.<br>
                  <br>
                  <%
community_user = CommunityUser.find_by(user: current_user, community: @community)
join_request = CommunityJoinRequest.find_by(user: current_user, community: @community)
%>
                  <% if community_user.present? %>
                    <i>You are a member of this community (since <%= time_ago_in_words(community_user.created_at) %>).</i>
                  <% elsif join_request.present? %>
                    <button class="btn btn-outline-success" disabled>
                      <i><%= @community.public? ? 'Joined' : "Membership request sent #{time_ago_in_words(join_request.created_at)} ago" %></i>
                    </button><br>
                  <% else %>
                    <%= form_for @join_request, url: community_community_join_requests_path(@community), method: :post do |f| %>
                      <%= f.submit 'Request to join this community', class: "btn btn-success" %><br>
                    <% end %>
                  <% end %>
                  <br>
                </div>
              <% end %>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  <%# end of display community card%>
  <%# start of display of upcomming community events%>
  <div class="container col-12mt-4">
    <div class="row justify-content-center">
      <div class="col-md-11" >
        <div class="card mb-4"  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); border-radius: 5px">
          <div class="black-banner">
            <h5 class="card-title">Upcoming events</h5>
          </div>
          <div class="card-body bg-white justify-content-center">
            <% if @community.events.present? && @community.events.any? { |event| event.start_time >= Date.today } %>
              <div class="container-fluid ">
                <div class="row col-12 justify-content-start">
                  <% @community.events.sort_by(&:start_time).each do |event| %>
                    <% if event.start_time >= Date.today %>
                      <div class="col-lg-4 col-md-6 col-sm-12 my-3 d-flex align-items-center justify-content-center">
                        <div class="card shadow-lg" style="width: 18rem; height: 27rem;">
                          <div class="image-wrapper" style="height: 250px; overflow: hidden;">
                            <% if event.photos.attached? %>
                              <a href="<%= community_event_path(event.community, event) %>">
                                <img src="<%= cl_image_path event.photos.first.key %>" class="card-img-top" alt="Listing Image">
                              </a>
                            <% end %>
                          </div>
                          <div class="card-body position-relative"style="height: 200px; overflow: hidden;">
                            <div class="card-title">
                              <a href="<%= community_event_path(event.community, event) %>" class="btn btn-dark position-absolute top-0 start-0 end-0 btn-lg"><%= event.title %></a>
                            </div>
                            <br>
                            <br>
                            <div class="card-title" style="color: #B9624F;"><%= event.start_time.strftime('%a,  %d/%m/%y, %H:%M') %></div>
                            <div class="card-title" style="color: #B9624F;"><%= event.end_time.strftime('%a - %d/%m/%y - %H:%M') %></div>
                            <div class="card-title" style="color: gray; font-size: 12px;"><%= event.address %></div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            This community doesn't have upcoming events
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# PAST EVENT %>
<% past_events = @community.events.select { |event| event.start_time < Date.today } %>
<% if past_events.any? %>
  <div class="container col-12mt-4">
    <div class="row justify-content-center">
      <div class="col-md-11" >
        <div class="card mb-4"  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); border-radius: 5px">
          <div class="black-banner">
            <h5 class="card-title">Past events</h5>
          </div>
          <div class="card-body bg-white justify-content-center">
            <% if @community.events.present? %>
              <div class="container-fluid ">
                <div class="row col-12 justify-content-start">
                  <% @community.events.sort_by(&:start_time).each do |event| %>
                    <% if event.start_time < Date.today %>
                      <div class="col-lg-4 col-md-6 col-sm-12 my-3 d-flex align-items-center justify-content-center">
                        <div class="card shadow-lg" style="width: 18rem; height: 27rem;">
                          <div class="image-wrapper" style="height: 250px; overflow: hidden;">
                            <% if event.photos.attached? %>
                              <img src="<%= cl_image_path event.photos.first.key %>" class="card-img-top" alt="Listing Image">
                            <% end %>
                          </div>
                          <div class="card-body position-relative"style="height: 200px; overflow: hidden;">
                            <div class="card-title">
                              <a href="#" class="btn btn-warning position-absolute top-0 start-0 end-0 btn-lg"><%= event.title %></a>
                            </div>
                            <br>
                            <br>
                            <div class="card-title" style="color: #B9624F;"><%= event.start_time.strftime('%a,  %d/%m/%y, %H:%M') %></div>
                            <div class="card-title" style="color: #B9624F;"><%= event.end_time.strftime('%a - %d/%m/%y - %H:%M') %></div>
                            <div class="card-title" style="color: gray;"><%= event.address %></div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<%# PAST EVENT END %>
<div class="text-center">
  <%= link_to "Back to communities", communities_path, class: "btn btn-dark" %>
</div>
