<%#
          <center>
            <% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin) %>
<%# Hi <%= current_user.first_name, you are viewing this module since you are %>
<%# <% if current_user.admin  %>
<%# an admin of the platform. %>
<%# <% elsif @community.user == current_user %>
<%# the owner of this community (<%= @community.title %>
<%# <% elsif current_user.is_moderator_of?(@community) %>
<%# a moderator  of this community (<%= @community.title %>
<%# <% end %>
<%# <% end %>
<%# </center> %>
<% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin) %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 mt-3 mt-sm-3 mt-md-3">
        <div class="card mb-4">
          <div class="black-banner">
            <h5 class="card-title">Community dashboard & settings</h5>
          </div>
          <div class="card-body text-center">
            <p class="card-text">
              <%= link_to "Community dashboard", dashboard_path(@community), class: "btn btn-outline-dark" %>
              <% if policy(@community).new? %>
                <%= link_to "Create Event", new_community_event_path(@community), class: "btn btn-outline-primary my-2" %>
              <% end %>
              <% if policy(@community).edit? %>
                <%= link_to "Edit my community", edit_community_path(@community), class: "btn btn-outline-warning my-2" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-0 mt-sm-0 mt-md-3">
        <div class="card mb-4">
          <div class="black-banner">
            <h5 class="card-title">Community stats</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              Members: <%= @community.members.count %><br>
              Since this week: <%= @community.community_users.where("created_at > ?", Date.current.beginning_of_week).count %> <br>
              Events created: <%= @community.events.count %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<% end %>
<%# start of display for regular users%>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="black-banner-main">
          <h5 class="card-title"><%= @community.title %></h5>
        </div>
        <div class="youtube-video-wrapper">
          <iframe src="https://www.youtube.com/embed/K9cT_jgU2y0?autoplay=1&controls=0&mute=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="black-banner-main ">
          <div class="banner-under-video ">
            <div class="location">
              <span>
                <%= @community.city %>, <%= @community.country %>
              </span>
              <% country = ISO3166::Country[@community.country] %>
              <% if country %>
                <% country_code = country.alpha2.upcase %>
                <img src="https://flagsapi.com/<%= country_code %>/flat/24.png" alt="<%= country.translated_names.first %> Flag" class="img-fluid" style="margin-left: 5px;">
              <% end %>
            </div>
            <div class ="community-type" >
              <% if !@community.public? && (@community.user == current_user || (current_user && current_user.is_member_of?(@community)) || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin )) %>
                <i class="fa-solid fa-lock-open"></i> &nbsp;you're a member
              <% elsif !@community.public? %>
                <i class="fas fa-lock"></i>&nbsp;Private community
              <% elsif @community.public? && (@community.user == current_user || (current_user && current_user.is_member_of?(@community)) || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin )) %>
                <i class="fa-solid fa-lock-open"></i> &nbsp;you're a member of this community
              <% elsif @community.public? %>
                <i class="fa-solid fa-lock-open"></i>&nbsp;Public community
              <% end %>
            </div>
            <div class="member-count">
              <svg style= "margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
              </svg>   <%= @community.members.count %>
            </div>
          </div>
        </div>
        <%# Begining of the text for the community %>
        <div class="card-body">
          <p class="card-text">
            <% unless (@community.user == current_user || (current_user && current_user.is_member_of?(@community)) || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin )) %>
              For safety and accountability reasons, the owner of this community requires an Instagram check.<br>
              If your account is private, please extend a follow request to the organizer, then request to join this community.<br>
              <center><body>
                  <a class="instagram-button" href="https://www.instagram.com/cultura_subterranea_members_/" target="_blank"><b>
                      Add Cultura Subterranea on Instagram
                    </a>
                  </body>
                </center>
                This allows to foster a secure, positive environment for all, in form of a safe space.<br>
                <hr>
              <% end %>
              Message for everyone:
              description
              the instagram
              whatsapp group
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
  <%# end of display community card%>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-12">
        <div class="card mb-12">
          <div class="card-body">
            <h1 class="card-title"> <%= @community.title %></h1>
            <p class="card-text">
              <p>
                <%= @community.public? ? 'This community is public' : 'This community is private' %><br>
                <span class="">
                  <% status = user_community_status(@community, current_user) %>
                  <% if status == 'Join' %>
                    <%= form_for @join_request, url: community_community_join_requests_path(@community), method: :post do |f| %>
                      <%= f.submit status, class: "btn btn-outline-dark" %>
                    <% end %>
                  <% else %>
                    <i><%= status %></i>
                  <% end %>
                  <ul>
                    <li><%= @community.description %></li>
                    <% if @community.photos.attached? %>
                      <% @community.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, class: "img-thumbnail", width: 200, crop: :thumb %>
                      <% end %>
                    <% end %>
                    <li><%= @community.category %></li>
                    <li><%= @community.country %></li>
                    <li><%= @community.city %></li>
                    <li>Is public? <%= @community.public %></li>
                    <li>Is visible? <%= @community.is_visible %></li>
                  </ul>
                </b>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h2>Events:</h2>
  <% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.admin) %>
    <% if @community.events.present? %>
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Event dashboard quick access
        </button>
        <ul class="dropdown-menu custom-dropdown-menu">
          <% @community.events.last(5).each do |event| %>
            <li> <%= link_to event.title, event_dashboard_path(@community, event), class: "dropdown-item" %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <% unless @community.public? %>
    <% if @community.user == current_user || (current_user && current_user.is_moderator_of?(@community)) || (current_user && current_user.is_member_of?(@community)) || (current_user && current_user.admin) %>
      <% if @community.events.present? %>
        <div class="row">
          <% @community.events.each do |event| %>
            <div class="col-lg-3 my-3">
              <div class="card" style="width: 18rem; height: 22rem;">
                <div class="card-body position-relative">
                  <h5 class="card-title"><%= event.title %></h5>
                  <div class="image-wrapper" style="height: 250px; overflow: hidden;">
                    <% if event.photos.attached? %>
                      <img src="<%= cl_image_path event.photos.first.key %>" class="card-img-top" alt="Listing Image" style="object-fit: cover; width: 100%;">
                    <% end %>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text" style="position: absolute; bottom: 0; left: 0; margin: 8px;"><%= event.description %></p>
                  <div class="d-flex justify-content-center" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
                    <%= event.capacity %>
                  </div>
                  <%= link_to "Details", community_event_path(@community, event), class: "btn btn-outline-dark position-absolute bottom-0 end-0 m-2" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        There are no events in this community yet.
      <% end %>
    <% else %>
      You must request to join and be accepted in the <%= @community.title %> community to see the events.
    <% end %>
  <% else %>
    <% if @community.events.present? %>
      <div class="row">
        <% @community.events.each do |event| %>
          <div class="col-lg-3 my-3">
            <div class="card" style="width: 18rem; height: 22rem;">
              <div class="card-body position-relative">
                <h5 class="card-title"><%= event.title %></h5>
                <div class="image-wrapper" style="height: 250px; overflow: hidden;">
                  <% if event.photos.attached? %>
                    <img src="<%= cl_image_path event.photos.first.key %>" class="card-img-top" alt="Listing Image" style="object-fit: cover; width: 100%;">
                  <% end %>
                </div>
                <p class="card-text" style="position: absolute; bottom: 0; left: 0; margin: 8px;"><%= event.description %></p>
                <div class="d-flex justify-content-center" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
                  <%= event.capacity %>
                </div>
                <%= link_to "Details", community_event_path(@community, event), class: "btn btn-outline-dark position-absolute bottom-0 end-0 m-2" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      There are no events in this community yet.
    <% end %>
  <% end %>
</ul>
<hr>
<%= link_to "Back", communities_path %>
